<%- include('partials/header') %>
<% if (results.length <= 0) { %>
	<div class="container-fluid mt-5 text-center mt-3">
		<div class="row">
			<div class="alert alert-success">No Data available..</div>
		</div>
	</div>
<% } else { %>
<h6 class="text-center display-4 mt-2" style="font-size: 1.5rem; color: red">Nadu-Nedu Entry Report</h6>
				<div style="float:right">
					Date: <span id ="todayDate"></span>
				</div>
<!-- <div class="container-fluid d-flex justify-content-center mt-3" style="overflow: scroll"> -->
<div id="wrapper" class="container-fluid" style="overflow: scroll; padding: 2% 5%">
			<div class="row">
			<!-- <div id="" style="overflow: scrollX"> -->
				
			
			<table id="example" class="table table-bordered table-striped">
				
				<thead style="background: rgb(41,43,44); color: white">
					<tr>
						<th rowspan="2">SlNo</th>
						<th rowspan="2">Date of Entry</th>
						<th rowspan="2">Mandal</th>
						<th rowspan="2">School</th>
						<th colspan="4">Funds</th>
						<th colspan="4">Cement</th>
						<th colspan="3">Sand</th>
						<th colspan="2">Metal</th>
						<th colspan="2">Steel</th>
						<th colspan="2">Cement Bricks</th>
						<th colspan="2">Country Bricks</th>
						<th colspan="3">Wash Basins</th>
						<th colspan="3">Urinals</th>
						<th colspan="3">Western Commodes</th>
						<th colspan="3">Fans</th>
						<th colspan="3">Duel Desks (1-3)</th>
						<th colspan="3">Duel Desks (4-7)</th>
						<th colspan="3">Duel Desks (8-10)</th>
						
					</tr>
					<tr>
						
						
						<th>Estimated</th>
						<th>Received 7.5%</th>
						<th>Received 7.5%</th>
						<th>Expenditure</th>
						<th>Company</th>
						<th>Required</th>
						<th>Indent</th>
						<th>Received</th>
						<th>Required</th>
						<th>Indent</th>
						<th>Received</th>
						<th>Required</th>
						<th>Received</th>
						<th>Required</th>
						<th>Received</th>
						<th>Required</th>
						<th>Received</th>
						<th>Required</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
						<th>Required</th>
						<th>Upload</th>
						<th>Received</th>
					</tr>
				</thead>
				<tbody>
							<% results.forEach(function(result, i) { %>
							<tr>
								<td style="text-align: center; width: 2%"><%= i + 1 %></td>
								<td style="width: 2%"><%= result.date_entry %></td>
								<td style="width: 10%"><%= result.mandal %></td>
								<td style="width: 15 %"> <%= result.school %></td>
								<td style="width: 8%"><%= result.funds_estimated %></td>
								<td style="width: 10%"><%= result.funds_receivedone %></td>
								<td style="width: 10%"><%= result.funds_receivedtwo %></td>
								<td style="width: 8%"><%= result.funds_expenditure %></td>
								<td style="width: 11%"><%= result.cement_company %></td>
								<td style="width: 11%"><%= result.cement_required %></td>
								<td style="width: 25%"><%= result.cement_indent_placed %></td>
								<td style="width: 11%"><%= result.cement_received %></td>
								<td style="width: 11%"><%= result.sand_required %></td>
								<td style="width: 25%"><%= result.sand_indent_placed %></td>
								<td style="width: 11%"><%= result.sand_received %></td>
								<td style="width: 11%"><%= result.metal_required %></td>
								<td style="width: 11%"><%= result.metal_received %></td>
								<td style="width: 11%"><%= result.steel_required %></td>
								<td style="width: 11%"><%= result.steel_received %></td>
								<td style="width: 11%"><%= result.cement_bricks_required %></td>
								<td style="width: 11%"><%= result.cement_bricks_received %></td>
								<td style="width: 11%"><%= result.cley_bricks_required %></td>
								<td style="width: 11%"><%= result.cley_bricks_received %></td>
								<td style="width: 11%"><%= result.wb_required %></td>
								<td style="width: 11%"><%= result.wb_upload %></td>
								<td style="width: 11%"><%= result.wb_received %></td>
								<td style="width: 11%"><%= result.urinals_required %></td>
								<td style="width: 11%"><%= result.urinals_upload %></td>
								<td style="width: 11%"><%= result.urinals_received %></td>
								<td style="width: 11%"><%= result.wc_required %></td>
								<td style="width: 11%"><%= result.wc_upload %></td>
								<td style="width: 11%"><%= result.wc_received %></td>
								<td style="width: 11%"><%= result.fans_required %></td>
								<td style="width: 11%"><%= result.fans_upload %></td>
								<td style="width: 11%"><%= result.fans_received %></td>
								<td style="width: 11%"><%= result.db_class_1_3_required %></td>
								<td style="width: 11%"><%= result.db_class_1_3_upload %></td>
								<td style="width: 11%"><%= result.db_class_1_3_received %></td>
								<td style="width: 11%"><%= result.db_class_4_7_required %></td>
								<td style="width: 11%"><%= result.db_class_4_7_upload %></td>
								<td style="width: 11%"><%= result.db_class_4_7_received %></td>
								<td style="width: 11%"><%= result.db_class_7_10_required %></td>
								<td style="width: 11%"><%= result.db_class_7_10_upload %></td>
								<td style="width: 11%"><%= result.db_class_7_10_received %></td>
								
							</tr>
					<% }); %>
				</tbody>
			</table>
			</div>	
		<!-- </div> -->
</div>
<% } %>;

 
<%- include('partials/footer') %>