<%- include('partials/header') %>
<% if (results.length <= 0) { %>
	<div class="container-fluid mt-5 text-center mt-3">
		<div class="row">
			<p class="alert alert-success text-center" style="width: 100%">No Records in the database ..</p>
		</div>
	</div>
<% } else { %>
<h6 class="text-center display-4 mt-2" style="font-size: 1.5rem; color: blue">Nadu-Nedu Daily Entry Report</h6>
				
<!-- <div class="container-fluid d-flex justify-content-center mt-3" style="overflow: scroll"> -->
<div id="wrapper" style="overflow: scroll; padding: 2% 5%">
	<!-- <div style="float:right">
		Date: <span id ="txt"></span>
	</div> -->
	
	<div class="container-fluid" style="width: 100%">
		
		
			<div class="row">
			<!-- <div id="" style="overflow: scrollX"> -->
				
			
			<table id="example" class="table table-bordered table-striped">
				
				<thead style="background: rgb(41,43,44); color: white;font-size: 10px;font-weight:normal">
					<tr>
						<th rowspan="2">SlNo</th>
						<th rowspan="2">Date of Entry</th>
						<th rowspan="2">Mandal</th>
						<th rowspan="2">School</th>
						<th colspan="4">Funds</th>
						<th colspan="4">Cement</th>
						<th colspan="3">Sand</th>
						<th colspan="2">Metal</th>
						<th colspan="2">Steel</th>
						<th colspan="2">Cement Bricks</th>
						<th colspan="2">Country Bricks</th>
						<th colspan="3">Wash Basins</th>
						<th colspan="3">Urinals</th>
						<th colspan="3">Western Commodes</th>
						<th colspan="3">Fans</th>
						<th colspan="3">Duel Desks (1-3)</th>
						<th colspan="3">Duel Desks (4-7)</th>
						<th colspan="3">Duel Desks (8-10)</th>
						<th colspan="3">Teachers' Tables</th>
						<th colspan="3">Teachers' Chairs</th>
						<th colspan="3">Almirah</th>
						<th colspan="3">Green Chalk Board</th>
						<th colspan="3">English Lab</th>
						<th rowspan="2">Tagged Asst.</th>
						
					</tr>
					<tr>
						
						
						<th>Estimated</th>
						<th>Received 7.5%</th>
						<th>Received 15%</th>
						<th>Expenditure</th>
						<th>Cement Company</th>
						<th>Cement Required</th>
						<th>Cement Indent</th>
						<th>Cement Received</th>
						<th>Sand Required</th>
						<th>Sand Indent</th>
						<th>Sand Received</th>
						<th>Metal Required</th>
						<th>Metal Received</th>
						<th>Steel Required</th>
						<th>Steel Received</th>
						<th>Cement Brick Required</th>
						<th>Cement Bricks Received</th>
						<th>Country Bricks Required</th>
						<th>Country Bricks Received</th>
						<th>WB Required</th>
						<th>WB Upload</th>
						<th>WB Received</th>
						<th>Urinals Required</th>
						<th>Urinals Upload</th>
						<th>Urinals Received</th>
						<th>WC Required</th>
						<th>WC Upload</th>
						<th>WC Received</th>
						<th>Fans Required</th>
						<th>Fans Upload</th>
						<th>Fans Received</th>
						<th>C_1_3 Required</th>
						<th>C_1_3 Upload</th>
						<th>C_1_3 Received</th>
						<th>C_4_7 Required</th>
						<th>C_4_7 Upload</th>
						<th>C_4_7 Received</th>
						<th>C_8_10 Required</th>
						<th>C_8_10 Upload</th>
						<th>C_8_10 Received</th>
						<th>Tables Required</th>
						<th>Tables Upload</th>
						<th>Tables Received</th>
						<th>Chairs Required</th>
						<th>Chairs Upload</th>
						<th>Chairs Received</th>
						<th>Almirah Required</th>
						<th>Almirah Upload</th>
						<th>Almirah Received</th>
						<th>GCB Required</th>
						<th>GCB Upload</th>
						<th>GCB Received</th>
						<th>EngLab Required</th>
						<th>EngLab Upload</th>
						<th>EngLab Received</th>
					</tr>
				</thead>
				<tbody>
							<% results.forEach(function(result, i) { %>
							<tr>
								<td><%= i + 1 %></td>
								<td><%= result.date_of_entry %></td>
								<td><%= result.mandal %></td>
								<td><%= result.school %></td>
								<td><%= result.funds_estimated %></td>
								<td><%= result.funds_receivedone %></td>
								<td><%= result.funds_receivedtwo %></td>
								<td><%= result.funds_expenditure %></td>
								<td><%= result.cement_company %></td>
								<td><%= result.cement_required %></td>
								<td><%= result.cement_indent_placed %></td>
								<td><%= result.cement_received %></td>
								<td><%= result.sand_required %></td>
								<td><%= result.sand_indent_placed %></td>
								<td><%= result.sand_received %></td>
								<td><%= result.metal_required %></td>
								<td><%= result.metal_received %></td>
								<td><%= result.steel_required %></td>
								<td><%= result.steel_received %></td>
								<td><%= result.cement_bricks_required %></td>
								<td><%= result.cement_bricks_received %></td>
								<td><%= result.cley_bricks_required %></td>
								<td><%= result.cley_bricks_received %></td>
								<td><%= result.wb_required %></td>
								<td><%= result.wb_upload %></td>
								<td><%= result.wb_received %></td>
								<td><%= result.urinals_required %></td>
								<td><%= result.urinals_upload %></td>
								<td><%= result.urinals_received %></td>
								<td><%= result.wc_required %></td>
								<td><%= result.wc_upload %></td>
								<td><%= result.wc_received %></td>
								<td><%= result.fans_required %></td>
								<td><%= result.fans_upload %></td>
								<td><%= result.fans_received %></td>
								<td><%= result.db_class_1_3_required %></td>
								<td><%= result.db_class_1_3_upload %></td>
								<td><%= result.db_class_1_3_received %></td>
								<td><%= result.db_class_4_7_required %></td>
								<td><%= result.db_class_4_7_upload %></td>
								<td><%= result.db_class_4_7_received %></td>
								<td><%= result.db_class_8_10_required %></td>
								<td><%= result.db_class_8_10_upload %></td>
								<td><%= result.db_class_8_10_received %></td>
								<td><%= result.tables_required %></td>
								<td><%= result.tables_upload %></td>
								<td><%= result.tables_received %></td>
								<td><%= result.chairs_required %></td>
								<td><%= result.chairs_upload %></td>
								<td><%= result.chairs_received %></td>
								<td><%= result.almirah_required %></td>
								<td><%= result.almirah_upload %></td>
								<td><%= result.almirah_received %></td>
								<td><%= result.green_chalk_board_required %></td>
								<td><%= result.green_chalk_board_upload %></td>
								<td><%= result.green_chalk_board_received %></td>
								<td><%= result.englab_required %></td>
								<td><%= result.englab_upload %></td>
								<td><%= result.englab_received %></td>
								<td><%= result.taggedassist %></td>
								
							</tr>
					<% }); %>
				</tbody>
			</table>
			</div>	
		</div>
</div>
<% } %>;

 
<%- include('partials/footer') %>